body {
    margin: 0;
    background-color: #2e2e2e;
}

.main_frame {
    width: 750px;
    height: 900px;
    margin: 0;
    background-color: #5c5c5c;
    margin-left: auto;
    margin-right: auto;
    display: block;
}